body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background color */
    color: #fff; /* Default text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full height of viewport */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 2px solid #fff; /* White bottom border */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.nav-right a:hover {
    text-decoration: underline;
}

.nav-left .name {
    font-size: 1.2em;
    font-weight: bold;
}

.nav-toggle {
    display: none; /* Hide the toggle button by default */
    font-size: 1.5em;
    cursor: pointer;
    margin-left: auto;
}

#about-me {
    display: flex;
    flex: 1; /* Allows the section to grow and fill available space */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 40px 20px;
    background-color: #222; /* Slightly lighter background for the section */
}

.about-me-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-me-image {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Makes the image circular */
    margin-right: 20px;
    object-fit: cover; /* Ensures the image covers the element properly */
}

.about-me-text {
    max-width: 600px;
}

.about-me-text p {
    font-size: 1.0em;
    line-height: 1.6;
}

.about-me-text .quote {
    font-style: italic;
}

#tech-stacks {
    padding: 40px 20px;
    background-color: #333; /* Background color for the tech stacks section */
    text-align: center;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    border-radius: 8px;
    padding: 10px;
}

.tech-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: #fff; /* Ensure white background for images */
    border-radius: 8px; /* Optional: make the image background circular */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}

.tech-item p {
    margin: 0;
    font-size: 0.9em;
}

#projects {
    padding: 40px 20px;
    background-color: #222;
    text-align: center;
}

.project {
    max-width: 800px;
    margin: 40px auto;
    position: relative;
}

.project p {
    text-align: justify;
}

.project h4 {
    color: #bbb;
    font-weight: lighter;
}

.image-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
    scroll-behavior: smooth; /* Smooth scrolling */
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
}

.project-image {
    max-height: 250px;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
    border-radius: 8px;
    background-color: #2c2c2c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-image:hover {
    cursor: pointer;
}

.image-list::-webkit-scrollbar {
    height: 8px;
}

.image-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.image-list::-webkit-scrollbar-track {
    background: #333;
}

.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.scroll-arrow {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none; /* Hide arrows by default */
}

.scroll-arrow.prev {
    left: 0;
}

.scroll-arrow.next {
    right: 0;
}

.scroll-arrow.show {
    display: block; /* Show arrows when needed */
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
    display: block;
}

.modal-caption {
    margin: 15px;
    color: #fff;
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.project-item {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project-item h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #fff;
}

.project-item p {
    margin: 0;
    color: #aaa;
    font-size: 0.9em;
}

.project-link {
    text-decoration: none;
    color: inherit; /* Inherit text color to avoid changing link color */
    display: block; /* Make the anchor tag a block element */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.project-link:hover .project-item {
    background-color: #555; /* Change background color on hover */
}
#contact {
    padding: 40px 20px;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.contact-list {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0 auto; /* Center the list */
    max-width: 500px; /* Limit the width of the list */
}

.contact-list li {
    margin-bottom: 20px; /* Space between items */
}

.contact-link {
    text-decoration: none;
    color: inherit;
    display: flex; /* Display items as a flexbox */
    align-items: center; /* Center items vertically */
    transition: transform 0.3s ease; /* Smooth transform effect on hover */
}

.contact-link:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%; /* Full width of the container */
}

.contact-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px; /* Space between icon and text */
    object-fit: contain;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-left .name {
        align-self: center;
    }
    
    .nav-right {
        display: none; /* Hide the navigation links by default on small screens */
        flex-direction: column; /* Stack the items vertically */
        align-items: center; /* Center the items horizontally */
        width: 100%;
        background-color: #333; /* Optional: Match the header background */
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        right: 0;
    }

    .nav-right.active {
        display: flex; /* Display the navigation links when active */
    }

    .nav-right a {
        margin: 10px 0; /* Add vertical spacing between links */
        margin-right: 0; /* Remove right margin */
        width: 100%; /* Full width for better touch targets */
        text-align: center; /* Center the text */
    }

    .nav-toggle {
        display: block; /* Show the toggle button on small screens */
    }

    #about-me {
        flex-direction: column;
        padding: 20px;
    }

    .about-me-container {
        flex-direction: column;
        text-align: center;
    }

    .about-me-image {
        justify-self: center;
        align-self: center;
        margin-right: 0px;
    }
}